.container {
    display: grid;
    grid-template-areas:
      "homebutton menu"
      "sidebar header"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    /* background-color: dodgerblue; */
    /* padding: 5px; */
  }
  .container div {
    background-color: white;
    /* padding: 10px; */
  }
  .container div.homebutton{
    background-color: black;
    color: white;
    grid-area: homebutton;
    text-align: left;
  }
  .container div.menu {
    background-color: black;
    color: white;
    grid-area: menu;
    text-align: right;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
  }
  .container div.sidebar {
    background-color: grey;
    grid-area: sidebar;
    text-align: center;
  }
  .container div.content {
    grid-area: content;
  }
  .container div.footer {
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;  
  }