.container {
    display: grid;
    grid-template-areas:
      "topbar topbar"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    /* background-color: dodgerblue; */
    padding: 5px;
  }
  .container div {
    background-color: white;
    padding: 10px;
  }
  .container div.topbar{
    background-color: black;
    color: white;
    grid-area: topbar;
    text-align: left;
  }
  /* .container div.topnav {
    background-color: black;
    color: white;
    grid-area: topnav;
    text-align: right;
  } */
  .container div.menu {
    background-color: grey;
    grid-area: menu;
    text-align: center;
  }
  .container div.content {
    grid-area: content;
    text-align: center;
  }
  .container div.footer {
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;  
  }