.container {
    display: grid;
    grid-template-areas:
      "topnav topnav"
      "sidebar header"
      "sidebar content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 3px;
    /* background-color: dodgerblue; */
    /* padding: 5px; */
  }
  .container div {
    background-color: white;
    padding: 10px;
  }
  .container div.homebutton{
    background-color: black;
    color: white;
    grid-area: homebutton;
    text-align: left;
  }
  .container div.menu {
    background-color: black;
    color: white;
    grid-area: menu;
    text-align: right;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
  }
  .container div.sidebar {
    background-color: grey;
    grid-area: sidebar;
    text-align: center;
  }
  .container div.content {
    grid-area: content;
  }
  .container div.footer {
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;  
  }

  /* Create a top navigation bar with a black background color  */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
  }